<?xml version="1.0" encoding="utf-8"?>
<manifest package="horse.amazin.my.stratum0.statuswidget"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.location.network" />

    <application
        android:icon="@drawable/ic_stratum0_cutout"
        android:label="@string/app_name"
        android:name=".Stratum0WidgetApplication">
        <receiver android:name=".service.Stratum0WidgetProvider">
        	<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="android.net.wifi.STATE_CHANGED" />
			</intent-filter>
            <intent-filter>
                <action android:name="SpaceStatus.event.refresh" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
			<meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/stratum0_widget_info" />
        </receiver>
        <activity
            android:name=".ui.StatusActivity"
            android:label="@string/title_status_activity"
            android:theme="@android:style/Theme.Material.Light.Dialog"
            android:excludeFromRecents="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.StatusChangerService"
            android:exported="false" />
        <service android:name=".service.DoorUnlockService"
            android:exported="false" />
        <service android:name=".push.SpaceUpdateJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>
